{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h5>Edit Info</h5>
        </div>
        <div class="card-block">
            <div class="row">
              
            </div>

          <form method="post" action="{% url 'update_profile' %}"  enctype="multipart/form-data" autocomplete="off" >
            {% csrf_token %} 
            <div class="row">

              <div class="col-sm-6 mb-2">
                <div class="form-group">
                  <label for="fn">First Name</label>
                  <input type="text" value="{{user.first_name}}" class="form-control" id="fn" aria-describedby="emailHelp"
                  name="first_name" placeholder="First name" required>
                </div>
              </div>

              <div class="col-sm-6  mb-2">
                <div class="form-group">
                  <label for="ln">Last Name</label>
                  <input type="text" value="{{user.last_name}}"  class="form-control" id="ln" aria-describedby="emailHelp"
                  name="last_name" placeholder="Last name" required>
                </div>
              </div>

              <div class="col-sm-12  mb-2">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" name="email" value="{{user.email}}" placeholder="Email Address"  required> 
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                </div>
              </div> 
              
              <div class="col-sm-12  mb-2">
                <div class="form-group">
                  <label for="address">Personal Address</label>
                  <textarea class="form-control" name="address"  placeholder="Personal address"  id="address" rows="2" required>{{profile.address}}</textarea>
                </div>
              </div>

              <div class="col-sm-12  mb-2">
                <div class="form-group">
                  <label for="ph">Phone Number</label>
                  <input type="text" class="form-control" id="ph"
                    name="phone" value="{{profile.phone}}" placeholder="Phone number"  required> 
                  <small id="ph" class="form-text text-muted">We'll never share your phone number with anyone
                    else.</small>
                </div>
              </div> 
              
              <div class="col-sm-12  mb-2">
                <div class="form-group">
                  <label for="bio">About Info</label>
                  <textarea class="form-control" name="bio" placeholder="Bio"  id="bio" rows="4" required>{{profile.bio}}</textarea>
                  <small id="abf" class="form-text text-muted">We'll show this on your profile. (Max 350 Charachter)</small>
                </div>
              </div>

              <div class="col-sm-12  mb-2">
                <div class="form-group">
                  <label for="dp">Profile Photo</label>
                  <input type="file" value="" name="profileimg" class="form-control" id="dp" 
                  name="last_name" required>
                  <small id="addd" class="form-text text-muted">Select your photo for your profile. 
                    (size-max: 500 x 500px)</small>
                </div>
              </div>

              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary shadow-2 mb-2">Update Profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="w-50 p-3">
              {% if profile.profileimg %}
              <img src="{{ profile.profileimg.url  }}" alt="profile image"
                class="img-fluid rounded-circle">
              {% else %}
              <img src="https://via.placeholder.com/500" alt="profile image"
                class="img-fluid rounded-circle">
              {% endif %}
            </div>
            
            <div class="text-center">
              {% if user.first_name  and user.last_name  %}
              <h4 class="font-weight-bold h6">{{user.first_name}} {{user.last_name}}</h4>
              {% else %}
              <h4 class="font-weight-bold h6">{{user}}</h4>
              {% endif %}
              
              {% if user.is_staff %}
              <p class="font-italic text-muted">{{ profile.position | default:"STAFF" }}</p>
              {% elif user.is_superuser %}
              <p class="font-italic text-muted">SUPER USER</p>
              {% else %}
              <p class="font-italic text-muted">USER</p>
              {% endif %}
            
            </div>
          </div>

          <div class="small font-weight-light mt-4 text-center text-muted">
            <p>{{profile.bio}}</p>
          </div>
          {% comment %} <div class="d-flex justify-content-center align-items-center">
            <a href="#" class="h6 text-muted d-block m-1"><i class="icon feather icon-facebook"></i></a>
            <a href="#" class="h6 text-muted d-block m-1"><i class="icon feather icon-twitter"></i></a>
            <a href="#" class="h6 text-muted d-block m-1"><i class="icon feather icon-instagram"></i></a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

 {% endblock content %}