# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# DB_ENGINE=postgresql
# DB_HOST=127.0.0.1
# DB_NAME=sample_db1
# DB_USERNAME=postgres
# DB_PASS=deonadmin
# DB_PORT=5432