# True for development, False for production
DEBUG=True

SECRET_KEY=<STRONG_KEY_HERE>

# DB_ENGINE=postgresql
# DB_HOST=localhost
# DB_NAME=company_db
# DB_USERNAME=postgres
# DB_PASS=deonadmin
# DB_PORT=5432