{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5>New Order Request</h5>
        </div>
        <div class="card-block">

            <form method="post" action="{% url 'add_product' %}"  autocomplete="off" >
              {% csrf_token %} 
              <div class="row align-items-end">
                  <div class="col-sm-8 ">
                    <div class="form-group">
                      <label for="item">Porduct</label>
                      <select class="form-control" name="item" id="item" required>
                        {% for service in services %}
                          <optgroup label="{{service.service}}">
                            {% for product in products %}
                              {% if  service.service == product.services.service %}
                                <option value="{{product.product}}">{{product.product}}</option>
                              {% endif %}
                            {% endfor %}
                          </optgroup>
                        {% endfor %}
                      </select>
                    </div>
                  </div> 
    
                  <div class="col-sm-4 ">
                    <div class="form-group">
                      <label for="quantity">Quantity</label>
                      <input type="number" value="" class="form-control" id="quantity" aria-describedby="emailHelp"
                      name="quantity" placeholder="Quantity" required>
                    </div>
                  </div>

                  <div class="col-sm-12 ">
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" name="description" placeholder="Description"  id="description" rows="2"></textarea>
                    
                    </div>
                  </div>

                  <div class="col-sm-12 mb-2">
                    <button type="submit" class="btn btn-primary shadow-2 ">Add Products</button>
                  </div>
              </div>
            </form>
            <hr>
            <form method="post" action="{% url 'create_order' %}" enctype="multipart/form-data" autocomplete="off" >
              {% csrf_token %} 
              <div class="row ">

                <div class="col-sm-6 ">
                  <div class="form-group">
                    <label for="orderno">Order No</label>
                    <input type="text" value="{{neworder.order_no}}" class="form-control" id="orderno" aria-describedby="emailHelp"
                    name="order_no" placeholder="Order Number" required readonly>
                  </div>
                </div>

                <div class="col-sm-6 ">
                  <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="date" class="form-control" id="deadline"
                      name="deadline" value="{{neworder.deadline|date:'Y-m-d'}}" placeholder="Deadline"  required> 
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="project_name">Project Name</label>
                    <input type="text" class="form-control" id="project_name"
                      name="project_name" value="{{neworder.project_name}}" placeholder="Project Name"  required> 
                  </div>
                </div>

                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="assets">Attachments </label>
                    <input type="file" class="form-control" id="assets" name="assets" accept=".zip, .rar">
                    <small id="assets" class="form-text text-muted">{{neworder.assets}}</small>
                  </div>
                </div>

                <div class="col-sm-12 mb-2">
                  <button type="submit" class="btn btn-primary shadow-2 ">Send Order</button>
                </div>
              </div>
            </form>    
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
            <h5>Added Products</h5>
          </div>
        <div class="card-block table-border-style">

          {% if order_items %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" class="text-left">Products/Descriptions</th>
                  <th scope="col" class="text-center">Quantity</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for items in order_items %}
                <tr>
                  <td class="text-left">
                    <h5 class="m-0 mb-1">{{ items.item }}</h5>
                    <p class="m-0">{{ items.description }}</p>
                  </td>
                  <td class="text-center">{{ items.quantity }}</td>
                  <td class="text-center">
                    {% comment %} {% url 'delete_addeditem' items.id %} {% endcomment %}
                    <a href=" {% url 'delete_addeditem' items.id %}"  id="{{items.id}}" title="Delete"><span
                      class="pcoded-badge label label-danger"><i class="feather icon-trash-2"></span></i></a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    
  </div>
  <!-- [ Main Content ] end -->

 {% endblock content %}
