{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
     <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <h5>Sent Orders</h5>
          </div>
        <div class="card-block table-border-style">

          {% if all_oders %}
          <div class="table-responsive">
            <table class="table  table-hover"  style="width:100%">
              <thead>
                <tr>
                  <th scope="col" class="text-left">Date</th>
                  <th scope="col" class="text-left">Order No</th>
                  <th scope="col" class="text-left">Project Name</th>
                  <th scope="col" class="text-center">Deadline</th>
                  <th scope="col" class="text-left">Status</th>
                  <th scope="col" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for order in all_oders %}
                    <tr class="unread" >
                      {% if  order.order_status != 'New' %}  
                        
                        <td class="text-left">{{ order.created_at | date:'d-m-Y' }}</td>
                        <td class="text-left">{{ order.order_no }}</td>
                        <td class="text-left">{{ order.project_name | upper }}</td>
                        <td class="text-center">{{ order.deadline | date:'d-m-Y' }}</td>

                        {% if  order.order_status == 'Active' %}  
                          <td class="text-left"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ order.order_status }}</td>
                        {% elif  order.order_status == 'Rejected' %}  
                          <td class="text-left"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>{{ order.order_status }}</td>
                        {% elif  order.order_status == 'Cancelled' %}  
                          <td class="text-left"><i class="fas fa-circle text-c-purple f-10 m-r-15"></i>{{ order.order_status }}</td>
                        {% else %}  
                          <td class="text-left"><i class="fas fa-circle text-c-blue f-10 m-r-15"></i>{{ order.order_status }}</td>
                        {% endif %}

                        <td class="text-center">
                            <a class="label theme-bg text-white f-12" href="#" id="openModal" tit="{{order.id}}" >view</a>
                        </td>
                  
                      {% endif %}
                    </tr> 
                {% endfor %}
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include "pages/clients/include/items.html" %}
  <!-- [ Main Content ] end -->
 
  
 {% endblock content %}


