{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
     <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <h5>Sent Orders</h5>
          </div>
        <div class="card-block table-border-style">

          {% if all_oders %}
          <div class="table-responsive">
            <table class="table table-striped" id="sample">
              <thead>
                <tr>
                  <th scope="col" class="text-left">Date</th>
                  <th scope="col" class="text-left">Order No</th>
                  <th scope="col" class="text-left">Project Name</th>
                  <th scope="col" class="text-center">Deadline</th>
                  <th scope="col" class="text-left">Status</th>
                  <th scope="col" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for order in all_oders %}
                    {% if  order.order_status == 'Active' %}
                    <tr>
                    <td class="text-left">{{ order.created_at | date:'d-m-Y' }}</td>
                    <td class="text-left">{{ order.order_no }}</td>
                    <td class="text-left">{{ order.project_name | upper }}</td>
                    <td class="text-center">{{ order.deadline | date:'d-m-Y' }}</td>
                    <td class="text-left">{{ order.order_status }}</td>
                    <td class="text-center">
                        <a href="" id="{{order.id}}" title="View" data-toggle="modal" data-target="#exampleModalCenter{{order.id}}"><span
                            class="pcoded-badge label label-primary"><i class="feather icon-eye"></span></i></a>
                        <a href=" {% url 'del_order' order.id %}"  id="{{order.id}}" title="Delete" ><span
                        class="pcoded-badge label label-danger"><i class="feather icon-trash-2"></span></i></a>
                        
                    </td>
                    </tr>
                    {% endif %}  
                    {% include 'pages/clients/include/items.html' %}
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <!-- [ Main Content ] end -->

 {% endblock content %}
