<!--[ daily sales section ] start-->
<div class="col-md-6 col-xl-3">
    <div class="card daily-sales">
      <div class="card-block">
        <h6 class="mb-4">Works Completed</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                class="feather icon-package text-c-green f-30 m-r-10"></i>{{activeorders.count}}</h3>
          </div>

          <div class="col-3 text-right">
            <p class="m-b-0">{{activeorders.count}}%</p>
          </div>
        </div>
        <div class="progress m-t-30" style="height: 7px;">
          <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{activeorders.count}}%;"
            aria-valuenow="{{activeorders.count}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <!--[ daily sales section ] end-->
  <!--[ Monthly  sales section ] starts-->
  <div class="col-md-6 col-xl-3">
    <div class="card Monthly-sales">
      <div class="card-block">
        <h6 class="mb-4">Work Inprogress</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                class="feather icon-monitor text-c-red f-30 m-r-10"></i>{{activeorders.count}}</h3>
          </div>
          <div class="col-3 text-right">
            <p class="m-b-0">50%</p>
          </div>
        </div>
        <div class="progress m-t-30" style="height: 7px;">
          <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 50%;"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <!--[ Monthly  sales section ] end-->
  <!--[ year  sales section ] starts-->
  <div class="col-md-6 col-xl-3">
    <div class="card yearly-sales">
      <div class="card-block">
        <h6 class="mb-4">Works in Queues</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                class="feather icon-layers text-c-green f-30 m-r-10"></i>000</h3>
          </div>
          <div class="col-3 text-right">
            <p class="m-b-0">50%</p>
          </div>
        </div>
        <div class="progress m-t-30" style="height: 7px;">
          <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <!--[ year  sales section ] end-->
  <!--[ year  sales section ] starts-->
  <div class="col-md-6 col-xl-3">
    <div class="card yearly-sales">
      <div class="card-block">
        <h6 class="mb-4">Work in Pending</h6>
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                class="feather icon-pause text-c-green f-30 m-r-10"></i>000</h3>
          </div>
          <div class="col-3 text-right">
            <p class="m-b-0">50%</p>
          </div>
        </div>
        <div class="progress m-t-30" style="height: 7px;">
          <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 50%;"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <!--[ year  sales section ] end-->

  <div class="col-xl-8 col-md-6">
    <div class="card Recent-Users">
      <div class="card-header">
        <h5>Recent Oders</h5>
      </div>
      <div class="card-block px-0 py-3">
        <div class="table-responsive">
          <table class="table table-hover" id="example"> 
            <tbody>
              
                {% for order in activeorders %}
                  {% if  order.order_status == "Active" %}
                  <tr class="unread">
                    <td><img class="rounded-circle" style="width:40px;" src="{{ order.user.profileimg.url}}"
                        alt="activity-user">
                    </td>
                    <td>
                      <h6 class="mb-1">{{ order.order_no}}</h6>
                      <p class="m-0">{{ order.project_name | upper }}</p>
                    </td>
                    <td>
                      <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ order.created_at | date:"D d-m-Y"  }}</h6>
                    </td>
                    <td>
                      <a href="{% url 'order_reject' order.id %}" class="label theme-bg1 text-white f-12">View</a>
                      {% if  profiles.is_admin %}
                        <a href="{% url 'order_reject' order.id %}" class="label theme-bg2 text-white f-12">Reject</a>
                        <a href="{% url 'order_approve' order.id %}" class="label theme-bg text-white f-12">Approve</a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>